* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background {
    text-align: center;
    background-image: url('https://wallpapers.com/images/hd/cute-dog-paw-prints-aoz317aorgky57ms.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}